## folders
.venv/
.env/
__pycache__/
.pytest_cache/
.mypy_cache/
tests_files/
src/scenarios/nl_request/cookies/

## files
*.pyc
*.log
*.log.zip
.python-version
.pre-commit-config.yaml
items.pkl
nl_cookies.txt
test.py

# dotenv
.env
.dev.env
